/*<link href="{{ asset('css/design.css') }}" rel="stylesheet">*/

.example-modal .modal {
  position: relative;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
  display: block;
  z-index: 1;
}

.example-modal .modal {
  background: transparent !important;
}

.modal-body {
position: relative;
padding: 15px;
max-height: 450px !important;
overflow-y: auto;
}

.modal-footer{
  background-color: #f2f2f2 ;
}

.modal-footer a{
  line-height: 30px;
}

.modal-footer button{
  margin-left: 10px;
}

.modal-header{
  background-color: #f2f2f2 ;
}

.small-box h3 {
  font-size: 25px !important;
}

.small-box p {
  font-size: 12px !important;
}

.myDiv {
  display:none;
}

#myAlert {
  margin: 15px;
  position: absolute;
  min-width: 80%;
  z-index: 100;
}

#serviceImage {
  /*height: 200px;*/
  height: 200px;
  width: 242px;
  object-fit: cover; 
  border-radius: 10%;
}

#serviceBox {
  height: 360px;
}

#descriptionBox {
  height: 50px;
  overflow: auto;
}

#myHeader {
  position: fixed; 
  top: 0;
}

#mySide {
  position: fixed;
}

#myFooter {
  position: fixed;
  background-color: #fff;
  border-top: 1px solid #d2d6de; 
  padding: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
}

#myBody {
  background-color: #f2f2f2;
}

#myContent {
  overflow: auto;
  margin-top: 50px;
  margin-bottom: 29px;
}

#myLogo {
  height: 30px; 
  border-radius: 50%;
}

#logoTitle {
  font-weight: bold;
}

#myCarousal {
  width: 46%;
}

#carousalBox {
  background-color: #f2f2f2; 
  width: 100%;
}

#caraousalImage {
  width: 100%; 
  height: 300px;
}

#myCards {
  width: 27%;
}

#cardImage {
  height: 80px; 
  border-radius: 50%;
}

#aboutImage {
  width: 100%;
}

#merchantViewImage {
  height: 70px;
  width: 70px;
  object-fit: cover; 
  border-radius: 10px;
}
